<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 读取图片的权限：兼容 29+ -->
    <!-- Android 13+ 用 READ_MEDIA_IMAGES -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />
    <!-- Android 10–12 还需要 READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- 申请相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 声明“设备可以有相机，但不是必须”，避免无相机设备禁止安装 -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightEdit">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>